body {
	font-family: 'Alegreya SC';
}

.header {
	width: 100%;
	height: 8%;
	position: fixed;
	top: 0;
	z-index: 2;
}

.name {
	float: left;
	height: 100%;
	width: 80%;
	background-color: lightblue;
}

.link {
	width: 55%;
	height: 100%;
	background: url('../images/code.jpg') repeat;
    background-size: 25%;
	position: absolute;
	left: 48.3%;
	display: inline-block;
	overflow: hidden;
  	transform: skew(-60deg);
}

h1 {
	font-size: 300%;
}

.linkle {
	font-size: 300%;
	transform: skew(60deg);
	float: right;
	right: 10%;
	position: absolute;
	color: white;
}

