body {
	font-family: 'Alegreya SC';
}

.header {
	width: 100%;
	height: 8%;
	position: fixed;
	top: 0;
	z-index: 2;
}

.name {
	float: left;
	height: 100%;
	width: 100%;
	background-color: lightblue;
}

.link {
	width: 80%;
	height: 100%;
	background-color: black;
    background-size: 25%;
	position: absolute;
	left: 40.9%;
	display: inline-block;
	overflow: hidden;
  	transform: skew(65deg);
}

h1 {
	font-size: 3em;
}
