.wrapper {
	height: 100%;
	width: auto;
}

#body {
	height: 100%;
	width: 300%;
}

#sections {
  position: relative;
  display: inline-block;
  height: 20%;
  top: 80%;
  left: 10%;
  z-index: 90;
}

.step {
	border: 2px solid black;
	margin-right: 400px;
	float: right;
}

.about1, .about2 {
	font-size: 20px;
}

#projects {
	height: 60%;
	width: 40%;
	text-align: center;
	display: inline-block;
  	position: fixed;
  	top: 60px;
  	left: 30%;
  	z-index: 1;
  	background-color: #ddd;
}



