.wrapper {
	height: 100%;
	width: 100%;
}

#body {
	height: 100%;
	width: 300%;
}

#projects {
	text-align: center;
	display: inline-block;
  	position: fixed;
  	z-index: 1;
  	border: 2px solid black;
  	height: 80%;
  	width: 40%;
  	top: 8%;
  	left: 30%;
}

.title {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.highlight {
  fill: #008080;
  font-weight: bold;
}

#sections {
  	position: relative;
  	display: inline-block;
  	width: 100%;
  	height: 10%;
  	top: 89%;
  	z-index: 90;
  	border: 2px solid black;
  	padding-left: 8%;
}

.step {
	border: 2px solid black;
	margin-right: 349px;
	float: left;
	width: 17.25%;
	height: 96%;
}
