<html>
	<head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="/stylesheets/reset.css"/>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
        <link rel="stylesheet" href="/stylesheets/portfolio.css"/>
        
        <link href='https://fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css?family=Spectral+SC:300" rel="stylesheet">
  	</head>
  	<body>
  		<div class="header">
	  		<div class="name">
	  			<h1>Raymond Ajax Metrulis</h1>
	  		</div>
			<div class="link">
			</div>
		</div>
  		<div class="wrapper">
  			<div class="static-column">
  				<div class="info-box">
	  				<h2>Full stack web developer at your service</h2>
	  				<h2>Realizing your vision for any app or site</h2>
	  				<h2>UI/UX development</h2>
	  				<div class="front-end">
		  				<h3>Front end</h3>
		  				<ul>
		  					<li>
		  						HTML
		  					</li>
		  					<li>
		  						CSS
		  					</li>
		  					<li>
		  						JS
		  					</li>
		  					<li>
		  						jQuery
		  					</li>
		  					<li>
		  						React
		  					</li>
		  					<li>
		  						Redux
		  					</li>
		  					<li>
		  						D3
		  					</li>
		  					<li>
		  						EJS
		  					</li>
		  					<li>
		  						Handlebars
		  					</li>
		  					<li>
		  						SVG
		  					</li>
		  					<li>
		  						Leaflet
		  					</li>
		  				</ul>
		  			</div>
		  			<div class="back-end">
		  				<h3>Back end</h3>
		  				<ul>
		  					<li>
		  						Node
		  					</li>
		  					<li>
		  						Express
		  					</li>
		  					<li>
		  						PostgreSQL
		  					</li>
		  					<li>
		  						Sequelize
		  					</li>
		  					<li>
		  						Git BASH
		  					</li>
		  					<li>
		  						AWS
		  					</li>
							<li>
		  						JSON
		  					</li>
		  				</ul>
		  				<h3>Other</h3>
		  				<ul>
		  					<li>
		  						Arduino
		  					</li>
		  				</ul>
		  			</div>
	  			</div>
	  			<div class="social-links">
	  				<a target="_blank" href="https://www.linkedin.com/in/raymond-metrulis-220b57120/"><img class="linkedin" src="images/linkedin.png"></a>
	  				<a target="_blank" href="https://github.com/reizeismith"><img class="github-ajax" src="images/github-two.jpg"></a>
	  				<a target="_blank" href="mailto:raymondajaxmetrulis@gmail.com"><img class="gmail" src="images/gmail.ico"></a>
	  			</div>
			</div>
  			<div id="projects">
  				<!-- svg, img, and title for each project inserted by sections.js -->
			</div>
			<div id="body">
				<div id='sections'>
	    			<section class="step">
        				<div class="title">
        					<p>
        					I have devoted myself to many different professions and endeavors, such as film production, chemistry research, teaching the learning disabled, playing in punk bands, studying Mandarin abroad and art restoration. Coding always came up as a relevant skill no matter what I was working on at the time and was a childhood passion that I was not able to explore before. Now that I have graduated from the New York Code and Design Academy, I enjoy developing javascript based games and full stack websites that help people save money.<br/> Side scroll to check out my portfolio >>>>>>>
        					</p>
        				</div>
      				</section>
      				<section class="step">
        				<div class="title">
        					<div class="description">
        						<h4>Instagram clone app: NodeJS, Express, PostgreSQL, EJS</h4>
        						<p>
        						An Instagram clone that shares its features: sign up, log in, upload image posts with descriptions, edit and delete posts, like posts, and comment on posts.
        						</p>
        					</div>
        					<div class="project-links">
		        				<a target="_blank" href="https://github.com/Team-New-Jersey/instafake">
		        					<img class="github" src="images/github.png">
		        				</a>
		        				<a target="_blank" href="https://instafake-mk2.herokuapp.com/api">
		        					<img class="heroku" src="images/heroku.png">
		        				</a>
        					</div>
        				</div>
      				</section>
      				<section class="step">
        				<div class="title">
        					<div class="description">
        						<h4>An RPG made entirely with ReactJS</h4>
        						<p>
        						A text-adventure and turn-based combat role playing game that uses vanilla ReactJS. A player can create a character and embark on a noble quest across a fantasy universe to regain $14 loaned to an old nemesis. Character creation and player HUD 
        						was developed by <a target="_blank" href="https://github.com/sean21mcn">Sean McNeely</a>, the items menu and item
        						functionality was developed by <a target="_blank" href="https://github.com/mistermappy">Mikhail Misenas</a>, and I developed the story, gameplay mechanics and turn-based combat. 
        						</p>
        					</div>
        					<div class="project-links">
		        				<a target="_blank" href="https://github.com/MangoMartin/react-game">
		        					<img class="github" src="images/github.png">
		        				</a>
		        				<a target="_blank" href="https://petty-cash-quest.herokuapp.com">
		        					<img class="heroku" src="images/heroku.png">
		        				</a>
        					</div>
        				</div>
      				</section>
      				<section class="step">
        				<div class="title">
        					<div class="description">
        						<h4>E-commerce store locator app: ReactJS, Express, NodeJS, PostgreSQL, Leaflet</h4>
        						<p>
        							An eCommerce store locator utilizing Leaflet maps to geolocate nearby Cart-o-grapher registered stores. Shop owners can establish a shop profile and link their profiles from other sites, such as Ebay and Etsy. 
        						</p>
        					</div>
        					<div class="project-links">
		        				<a target="_blank" href="https://github.com/MangoMartin/cart-o-grapher">
		        					<img class="github" src="images/github.png">
		        				</a>
		        				<a target="_blank" href="https://cart-o-grapher.herokuapp.com/home">
		        					<img class="heroku" src="images/heroku.png">
		        				</a>
        					</div>
        				</div>
      				</section>
	    		</div>
			</div>
  		</div>
	
  	<script src="https://d3js.org/d3.v4.min.js"></script>
  	<script src="js/scroller.js"></script>
	<script src="js/sections.js"></script>
	<!-- Files and library for D3 based scrolling -->
  	</body>
</html>