<html>
	<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/reset.css"/>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
        <link rel="stylesheet" href="/stylesheets/portfolio.css"/>
  	</head>
  	<body>
  		<div id="wrapper">
  			<a href="/blog">
				<div class="link">
					<p>Blog</p>
				</div>
			</a>
			<div id="about">
			</div>
			<div id="projects">
				<div class="project">
					<h2 class="title"></h2>
					<div class="image">
						<img src="">
					</div>
					<a href="">
						<div class="github">
							<img src="/images/github.png">
						</div>
					</a>
					<a href="">
						<div class="heroku">
							<img src="/images/heroku.png">
						</div>
					</a>
				</div>
				<div class="project">
					<h2 class="title"></h2>
					<div class="image">
						<img src="">
					</div>
					<a href="">
						<div class="github">
							<img src="/images/github.png">
						</div>
					</a>
					<a href="">
						<div class="heroku">
							<img src="/images/heroku.png">
						</div>
					</a>
				</div>
				<div class="project">
					<h2 class="title"></h2>
					<div class="image">
						<img src="">
					</div>
					<a href="">
						<div class="github">
							<img src="/images/github.png">
						</div>
					</a>
					<a href="">
						<div class="heroku">
							<img src="/images/heroku.png">
						</div>
					</a>
				</div>
			</div>
  		</div>
  	</body>
</html>