<html>
	<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/reset.css"/>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
        <link rel="stylesheet" href="/stylesheets/portfolio.css"/>
        
        <link href='https://fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet'>
  	</head>
  	<body>
  		<div class="wrapper">
  			<div class="header">
  				<div class="name">
  					<h1>Raymond Ajax Metrulis</h1>
  				</div>
	  			<a href="/blog">
					<div class="link">
						<p class="linkle">Blog</p>
					</div>
				</a>
			</div>
			<div id="body">
				<div id='sections'>
	    			<section class="step">
	     				<div class="about">
	     					<p class="about1">I am a web developer living in NYC.</p>
							<p class="about2">This is my portfolio-blog site.</p>
						</div>
	    			</section>
	    			<section class="step">
	      				<!-- another section -->
	    			</section>
	    		</div>
				<div id="projects">
					<div class="project-left">
						<h2 class="title">Instafake</h2>
						<p class="description">An instagram clone made with Express, Node and Postgres</p>
						<div class="insta-img">
						</div>
						<a href="https://github.com/Team-New-Jersey/instafake">
							<div class="github">
							</div>
						</a>
						<a href="https://stark-retreat-54871.herokuapp.com/api">
							<div class="heroku">
							</div>
						</a>
					</div>
					<div class="project-middle">
						<h2 class="title">Petty Cash Quest</h2>
						<p class="description">A work-in-progress RPG made entirely with ReactJS</p>
						<div class="game-img">
						</div>
						<a href="https://github.com/MangoMartin/react-game">
							<div class="github">
							</div>
						</a>
						<a href="https://github.com/MangoMartin/react-game">
							<div class="heroku">
							</div>
						</a>
					</div>
					<div class="project-right">
						<h2 class="title">Cart-o-grapher</h2>
						<p class="description">A react leaflet site that stores locations of e-commerce sites</p>
						<div class="cart-img">
						</div>
						<a href="https://github.com/MangoMartin/cart-o-grapher">
							<div class="github">
							</div>
						</a>
						<a href="https://cart-o-grapher.herokuapp.com/home">
							<div class="heroku">
							</div>
						</a>
					</div>
				</div>
			</div>
  		</div>
  		<script src="../d3/d3.js"></script>
		<script src="../scroller/scroller.js"></script>
		<script src="../scroller/sections.js"></script>
  	</body>
</html>