<html>
	<head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="/stylesheets/reset.css"/>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
        <link rel="stylesheet" href="/stylesheets/portfolio.css"/>
        
        <link href='https://fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet'>
  	</head>
  	<body>
  		
  		<div class="wrapper">
  			<div class="header">
	  			<div class="name">
	  				<h1>Raymond Ajax Metrulis</h1>
	  			</div>
		  		<a href="/blog">
					<div class="link">
						<p class="linkle">Blog</p>
					</div>
				</a>
			</div>
  			<div id="projects">
			</div>
			<div id="body">
				<div id='sections'>
	    			<section class="step">
        				<div class="title">OpenVis Conf 2013</div>
        				I did what no presenter should ever do: I watched my own talk.<br/><br/>My first visit to OpenVis Conf in 2013.
      				</section>
      				<section class="step">
        				<div class="title">Filler Words</div>
        				As expected, I could only focus on the flaws: the rushed speech, the odd phrases, and, most especially, all the filler words. In fact, I found 180 filler words in my 30 minute talk.
      				</section>
      				<section class="step">
	        			<div class="title">My Talk</div>
	        			Here are all 5,040 words of my talk.
      				</section>
      				<section class="step">
        				<div class="title">My Stumbles</div>
        				And here are all the fillers I used in those 30 minutes.
      				</section>
	    		</div>
			</div>
  		</div>

  	<script src="https://d3js.org/d3.v4.min.js"></script>
  	<script src="https://d3js.org/d3-collection.v1.min.js"></script>
	<script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
	<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
	<script src="https://d3js.org/d3-request.v1.min.js"></script>
  	<script src="js/scroller.js"></script>
	<script src="js/sections.js"></script>
	
  	</body>
</html>