<html>
	<head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="/stylesheets/reset.css"/>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
        <link rel="stylesheet" href="/stylesheets/portfolio.css"/>
        
        <link href='https://fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet'>
  	</head>
  	<body>
  		
  		<div class="wrapper">
  			<div class="header">
	  			<div class="name">
	  				<h1>Raymond Ajax Metrulis</h1>
	  			</div>
		  		<a href="/blog">
					<div class="link">
						<p class="linkle">Blog</p>
					</div>
				</a>
			</div>
  			<div id="projects">
			</div>
			<div id="body">
				<div id='sections'>
	    			<section class="step">
        				<div class="title">About me</div>
        				About me info
      				</section>
      				<section class="step">
        				<div class="title">Project One</div>
        				Project one info
      				</section>
      				<section class="step">
        				<div class="title">Project Two</div>
        				Project two info
      				</section>
      				<section class="step">
        				<div class="title">Project Three</div>
        				Project three info
      				</section>
	    		</div>
			</div>
  		</div>

  	<script src="https://d3js.org/d3.v4.min.js"></script>
  	<script src="https://d3js.org/d3-collection.v1.min.js"></script>
	<script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
	<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
	<script src="https://d3js.org/d3-request.v1.min.js"></script>
  	<script src="js/scroller.js"></script>
	<script src="js/sections.js"></script>
	
  	</body>
</html>