<html>
	<head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="/stylesheets/reset.css"/>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
        <link rel="stylesheet" href="/stylesheets/portfolio.css"/>
        
        <link href='https://fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css?family=Spectral+SC:300" rel="stylesheet">
  	</head>
  	<body>
  		<div class="header">
	  		<div class="name">
	  			<h1>Raymond Ajax Metrulis</h1>
	  		</div>
		  	<!-- <a href="/blog"> -->
				<div class="link">
					<!-- <p class="linkle">Blog</p> -->
				</div>
			<!-- </a> -->
		</div>
  		<div class="wrapper">
  			<!-- <div id="left-divider">
			</div> -->
			<!-- <div id="right-divider">
			</div> -->
  			<div class="static-column">
  				<div class="info-box">
	  				<h2>Full stack web developer at your service</h2>
	  				<h2>Realizing your vision for any app or site</h2>
	  				<h2>UI/UX development</h2>
	  				<div class="front-end">
		  				<h3>Front end</h3>
		  				<ul>
		  					<li>
		  						HTML
		  					</li>
		  					<li>
		  						CSS
		  					</li>
		  					<li>
		  						JS
		  					</li>
		  					<li>
		  						jQuery
		  					</li>
		  					<li>
		  						React
		  					</li>
		  					<li>
		  						Redux
		  					</li>
		  					<li>
		  						D3
		  					</li>
		  					<li>
		  						EJS
		  					</li>
		  					<li>
		  						Handlebars
		  					</li>
		  					<li>
		  						SVG
		  					</li>
		  					<li>
		  						Leaflet
		  					</li>
		  				</ul>
		  			</div>
		  			<div class="back-end">
		  				<h3>Back end</h3>
		  				<ul>
		  					<li>
		  						Node
		  					</li>
		  					<li>
		  						Express
		  					</li>
		  					<li>
		  						PostgreSQL
		  					</li>
		  					<li>
		  						MySQL
		  					</li>
		  					<li>
		  						Sequelize
		  					</li>
		  				</ul>
		  				<h3>Other</h3>
		  				<ul>
		  					<li>
		  						Arduino
		  					</li>
		  				</ul>
		  			</div>
	  			</div>
	  			<div class="social-links">
	  				<a target="_blank" href="https://www.linkedin.com/in/raymond-metrulis-220b57120/"><img class="linkedin" src="images/linkedin.png"></a>
	  				<a target="_blank" href="https://github.com/reizeismith"><img class="github-ajax" src="images/github-two.jpg"></a>
	  				<a target="_blank" href="mailto:raymondajaxmetrulis@gmail.com"><img class="gmail" src="images/gmail.ico"></a>
	  			</div>
			</div>
  			<div id="projects">
  				<!-- svg, img, and title for each project inserted by sections.js -->
			</div>
			<div id="body">
				<div id='sections'>
	    			<section class="step">
        				<div class="title">
        					<p>
        					I am a UX/UI developer who specializes in backend development and other things, too. As an aspiring art preservationist writing a thesis on advanced laser spectroscopy during my senior year, I got a BS of Chemistry from Bard College in May 2016. While in school, I worked part-time as a paraprofessional for children and young adults with various learning disabilities and continued to work in the field after graduation as an Applied Behavioral Analysis therapist when I moved to New York City. I soon realized I wanted to explore my childhood passion of programming and video games, so enrolled in the New York Code and Design Academy. I completed their Intensive Part-Time Web Development program while I simultaneously worked as an academic counselor for college students with learning disabilities at Pace University. In my spare time I write music for my punk band and play videogames.
        					</p>
        				</div>
      				</section>
      				<section class="step">
        				<div class="title">
        					<div class="description">
        						<h4>Instagram clone app: NodeJS, Express, PostgreSQL, EJS</h4>
        						<p>
        						Instafake is a clone of Instagram, sharing all of the same features. Sign up for an account,
        						log in, upload a profile picture, upload an image post with a description, edit and delete your posts,
        						and like and comment on another user's post. I built all the backend features and templates were made by
        						<a target="_blank" href="https://github.com/sean21mcn">Sean McNeely.</a>
        						</p>
        					</div>
        					<div class="project-links">
		        				<a target="_blank" href="https://github.com/Team-New-Jersey/instafake">
		        					<img class="github" src="images/github.png">
		        				</a>
		        				<a target="_blank" href="https://stark-retreat-54871.herokuapp.com/api">
		        					<img class="heroku" src="images/heroku.png">
		        				</a>
        					</div>
        				</div>
      				</section>
      				<section class="step">
        				<div class="title">
        					<div class="description">
        						<h4>An RPG made entirely with ReactJS</h4>
        						<p>
        						Petty Cash Quest is a text-adventure and turn-based combat role playing game that only uses vanilla
        						ReactJS. A player can create a character and embark on a noble quest across a fantasy universe
        						to regain the $14 that was borrowed by an old nemesis. Character creation and player HUD 
        						was developed by <a target="_blank" href="https://github.com/sean21mcn">Sean McNeely</a>, the items menu and item
        						functionality was developed by <a target="_blank" href="https://github.com/mistermappy">Mikhail Misenas</a>, and I developed the story, gameplay mechanics and turn-based combat. 
        						</p>
        					</div>
        					<div class="project-links">
		        				<a target="_blank" href="https://github.com/MangoMartin/react-game">
		        					<img class="github" src="images/github.png">
		        				</a>
		        				<a target="_blank" href="">
		        					<img class="heroku" src="images/heroku.png">
		        				</a>
        					</div>
        				</div>
      				</section>
      				<section class="step">
        				<div class="title">
        					<div class="description">
        						<h4>E-commerce store locator app: ReactJS, Express, NodeJS, PostgreSQL, Leaflet</h4>
        						<p>
        							Cart-o-grapher is a store app that allows users to geolocate nearby Cart-o-grapher registered stores, so customers can buy products in person from stores that could only ship their products via other websites like Amazon. Shop owners can establish a shop profile and link their shop profiles from other sites, such as Ebay and Etsy. I developed the full stack site with <a target="_blank" href="https://github.com/mistermappy">Mikhail Misenas</a>
									troubleshooting database management and integrating the Leaflet map.
        						</p>
        					</div>
        					<div class="project-links">
		        				<a target="_blank" href="https://github.com/MangoMartin/cart-o-grapher">
		        					<img class="github" src="images/github.png">
		        				</a>
		        				<a target="_blank" href="https://cart-o-grapher.herokuapp.com/home">
		        					<img class="heroku" src="images/heroku.png">
		        				</a>
        					</div>
        				</div>
      				</section>
	    		</div>
			</div>
  		</div>
	
  	<script src="https://d3js.org/d3.v4.min.js"></script>
  	<script src="js/scroller.js"></script>
	<script src="js/sections.js"></script>
	<!-- Files and library for D3 based scrolling -->
  	</body>
</html>