<html>
	<head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="/stylesheets/reset.css"/>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
        <link rel="stylesheet" href="/stylesheets/portfolio.css"/>
        
        <link href='https://fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet'>
  	</head>
  	<body>
  		<div class="header">
	  		<div class="name">
	  			<h1>Raymond Ajax Metrulis</h1>
	  		</div>
		  	<a href="/blog">
				<div class="link">
					<p class="linkle">Blog</p>
				</div>
			</a>
		</div>
  		<div class="wrapper">
  			<div id="left-divider">
			</div>
			<div id="right-divider">
			</div>
  			<div class="skills">
			</div>
  			<div id="projects">
			</div>
			<div id="body">
				<div id='sections'>
	    			<section class="step">
        				<div class="title">
        					<p>
        						I'm a UX/UI developer specializing in backend development, and I am other things too.  
        						As an aspiring art preservationist writing a thesis on advanced laser spectroscopy, 
        						I got a Bachelors of Chemistry from Bard. While in school, I worked as a paraprofessional
        						with children and young adults with various learning disabilities, and continued working
        						in the field as an ABA therapist when I moved to Manhattan. I wanted to explore my childhood passion
        						of programming and video games and decided to apply to NYCDA. I graduated from the Intensive
        						Part-Time Web Development program while working as an academic counselor to learning disabled students 
        						at Pace University.
        					</p>
        				</div>
      				</section>
      				<section class="step">
        				<div class="title">
        					<div class="description">
        					</div>
        					<div class="project-links">
		        				<a target="_blank" href="https://github.com/Team-New-Jersey/instafake">
		        					<img class="github" src="images/github.png">
		        				</a>
		        				<a target="_blank" href="https://stark-retreat-54871.herokuapp.com/api">
		        					<img class="heroku" src="images/heroku.png">
		        				</a>
        					</div>
        				</div>
      				</section>
      				<section class="step">
        				<div class="title">
        					<div class="description">
        					</div>
        					<div class="project-links">
		        				<a target="_blank" href="https://github.com/Team-New-Jersey/instafake">
		        					<img class="github" src="images/github.png">
		        				</a>
		        				<a target="_blank" href="https://stark-retreat-54871.herokuapp.com/api">
		        					<img class="heroku" src="images/heroku.png">
		        				</a>
        					</div>
        				</div>
      				</section>
      				<section class="step">
        				<div class="title">
        					<div class="description">
        					</div>
        					<div class="project-links">
		        				<a target="_blank" href="https://github.com/Team-New-Jersey/instafake">
		        					<img class="github" src="images/github.png">
		        				</a>
		        				<a target="_blank" href="https://stark-retreat-54871.herokuapp.com/api">
		        					<img class="heroku" src="images/heroku.png">
		        				</a>
        					</div>
        				</div>
      				</section>
	    		</div>
			</div>
  		</div>

  	<script src="https://d3js.org/d3.v4.min.js"></script>
  	<script src="https://d3js.org/d3-collection.v1.min.js"></script>
	<script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
	<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
	<script src="https://d3js.org/d3-request.v1.min.js"></script>
  	<script src="js/scroller.js"></script>
	<script src="js/sections.js"></script>
	
  	</body>
</html>